main {
    max-width: 840px;
}

aside img {
    height: auto;
    width: 200px
}

main img {
    height: auto;
    width: 150px;
    border: 1px solid #1e1c1c;
    box-shadow: 0 0 35px grey;
    padding: 10px;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;

    text-align: center;
}

aside {
    width: 20em;
    margin: 1em;
    border: 1px solid rgba(0, 0, 0, 2);
    padding: 1em;
    background-color: #eee;
    color: #1e1c1c;
    text-align: center;

}

nav a {
    color: #606242;
    padding: 10px;
    display: block;
}

h1 {
    color: steelblue;
}